:host {
    display: block;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/images/home-background.jpg");
    background-size: cover;
    background-repeat: repeat;
}


.user-picture {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(111, 170, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-picture span {
    font-size: 27px;
    color: rgb(37, 37, 37);
}

.info-box {
    margin-bottom: 25px;
}

.info-box p {
    font-size: 23px;
    text-align: center;
}

.info-title {
    color: rgb(69, 136, 190);
}

.user-info-container {
    background-color: white;
    padding: 20px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 5px;
}