<app-header [page]="isOwner ? 'MY_PROFILE' : 'USER_PROFILE'"></app-header>
<div class="container user-info-container">
    <div class="row">
        <div class="col-12 col-md-2" style="display: flex; justify-content: center;">
            <div class="user-picture">
                <span>{{userDetails?.initials}}</span>
            </div>
        </div>
        <div class="col-6 col-md-2 info-box">
            <p class="info-title">Name</p>
            <p>{{userDetails?.name}}</p>
        </div>
        <div class="col-6 col-md-2 info-box">
            <p class="info-title">Surname</p>
            <p>{{userDetails?.surname}}</p>
        </div>
        <div class="col-6 col-md-2 info-box">
            <p class="info-title">Username</p>
            <p>{{userDetails?.username}}</p>
        </div>
        <div class="col-6 col-md-2 info-box">
            <p class="info-title">Points</p>
            <p>{{userDetails?.points}}</p>
        </div>
        <div class="col-6 col-md-2 info-box">
            <p class="info-title">Games</p>
            <p>{{userDetails?.numberOfGames}}</p>
        </div>
        <div class="col-6 col-md-2 info-box">
            <p class="info-title">Success</p>
            <p>{{userDetails?.success}}%</p>
        </div>
        <div class="col-6 col-md-2 info-box">
            <p class="info-title">Friends</p>
            <p>{{userDetails?.numberOfFriends}}</p>
        </div>
        <div class="col-6 col-md-2 info-box">
            <p class="info-title">Bankrupt times</p>
            <p>{{userDetails?.bankrupt}}</p>
        </div>
    </div>
    <div *ngIf="!isOwner" class="row action-cont">
        <div *ngIf="!userDetails?.isFriend 
        && !userDetails?.requestSended 
        && !userDetails?.requestReceived" (click)="sendRequestAction()" class="col-6 col-md-3">
            <button class="btn btn-success">Send a friend request</button>
        </div>
        <div *ngIf="userDetails?.requestSended" (click)="cancelRequestAction()" class="col-6 col-md-3">
            <button class="btn btn-secondary">Cancel friend rquest</button>
        </div>
        <div *ngIf="userDetails?.requestReceived" (click)="acceptRequestAction()" class="col-6 col-md-3">
            <button class="btn btn-success">Accept request</button>
        </div>
        <div *ngIf="userDetails?.requestReceived" (click)="declineRequestAction()" class="col-6 col-md-3">
            <button class="btn btn-secondary">Decline request</button>
        </div>
        <div *ngIf="userDetails?.isFriend" (click)="unfriendAction()" class="col-6 col-md-3">
            <button class="btn btn-secondary">Unfriend</button>
        </div>
        <div *ngIf="userDetails?.role !== 'MOD'
        && myRole === 'ADMIN'" (click)="giveModAction()" class="col-6 col-md-3">
            <button class="btn btn-primary">Give mod</button>
        </div>
        <div *ngIf="userDetails?.role !== 'MOD'
        && myRole === 'ADMIN'" (click)="removeModAction()" class="col-6 col-md-3">
            <button class="btn btn-secondary">Remove mod</button>
        </div>
        <div *ngIf="myRole === 'ADMIN' || myRole === 'MOD'" (click)="banUserAction()" class="col-6 col-md-3">
            <button class="btn btn-danger">Ban user</button>
        </div>
        <div *ngIf="myRole === 'ADMIN' && userDetails?.role !== 'ADMIN'" (click)="disableUserAction()" class="col-6 col-md-3">
            <button class="btn btn-danger">Disable user</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="card" style="width: 100%;">
        <div class="card-header">
          Last games
        </div>

       <div *ngFor="let bet of userDetails?.bets" class="row" style="margin: 10px 10px;">
        <div class="col-3 col-sm-2">
            <span>{{bet.betTstamp  | date:'d.MM.yyyy.'}}</span>
        </div>
        <div class="col-3 col-sm-2">
            <span>{{bet.winningBets}}/{{bet.betsCount}}</span>
        </div>
        <div class="col-3 col-sm-2">
            <span>{{bet.totalOdd}}</span>
        </div>
        <div class="col-3 col-sm-2">
            <span>{{bet.points}}</span>
        </div>
        <div class="col-3 col-sm-2">
            <span>{{bet.pointsToWin}}</span>
        </div>
        <div class="col-3 col-sm-2">
            <i *ngIf="bet.isActive" class="fa-sharp fa-solid fa-circle" style="color: green;"></i>
            <i *ngIf="!bet.isActive && bet.winningBets == bet.betsCount" class="fa-solid fa-check" style="color: green;"></i>
            <i *ngIf="!bet.isActive && bet.winningBets != bet.betsCount" class="fa-solid fa-circle-xmark" style="color: red;"></i>
        </div>
        <hr>
       </div> 
    </div>
</div>