<div class="modal-header">
    <h4 class="modal-title">Friends</h4>
  </div>
  <div class="modal-body">
    <div *ngFor="let friend of friends" class="row" style="margin: 10px 10px;">
        <div class="col-3 col-sm-1">
            <div class="user-picture-sm">
                <span>{{friend.initials}}</span>
            </div>
        </div>
        <div class="col-3 col-sm-2">
            <span>{{friend.name}}</span>
        </div>
        <div class="col-3 col-sm-2">
            <span>{{friend.surname}}</span>
        </div>
        <div class="col-3 col-sm-2">
            <span>( {{friend.username}} )</span>
        </div>
        <div class="col-3 col-sm-2">
            <button (click)="view(friend.id)" class="btn btn-primary">View</button>
        </div>
        <div class="col-3 col-sm-3">
            <button (click)="unfriend(friend.id)" class="btn btn-secondary">Remove</button>
        </div>
        <hr style="margin-top: 5px;">
       </div> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>